.red-background {
    background-color: #e2c024;
    color: darkblack; /* Optional: to make the text readable against a red background */
    height: 100vh; /* Optional: to cover the entire viewport height */
    margin: 0; /* Optional: to remove default margins */
    display: flex; /* Optional: to center content */
    justify-content: center; /* Optional: to center content */
    align-items: center; /* Optional: to center content */
  }